  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.app::before{
    content: "";
    background: url("assets/tree.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    /* max-width: 500px;
    height: 500px; */
    max-width: 70vh;
    height: 70vh;
    margin: auto;
    padding: 0 1rem;
    background: url("assets/tree.jpg") no-repeat center center/cover;
    border-radius: 7%;
    box-shadow: 0px 0px 100px #c17914;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.location{
    padding: 10px;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    letter-spacing: 1px;
}
.app .search {
    text-align: center;
    padding: 1rem;
  }

.app input {
padding: .7rem 1.5rem;
font-size: 1.2rem;
border-radius: 25px;
border: 1px solid rgba(255,255,255, 0.8);
background: rgba(255,255,255, 0.1);
color: #f8f8f8;
}

::placeholder {
color: #f8f8f8;
}
.description{
    text-align: center;
}
.temp{
    font-size: 68px;
}
.app .bottom {
display: flex;
justify-content: space-evenly;
text-align: center;
width: 100%;
margin: 1rem auto;
padding: 1rem;
border-radius: 12px;
background-color: rgba(205, 224, 32, 0.416);
}

.bold {
font-weight: 700;
}
.logo{
    width: 50px;
    margin: 20px;
}
.logo:hover{
    opacity: 0.7;
}